label{
    margin: 20px;
}
input {
    margin: 5px;
    color: rgb(216, 15, 15);
    padding: 5px;
    box-shadow: 0 0px 5px rgb(27, 123, 14);
    border-radius: 10px;
    background: linear-gradient(45deg,rgb(13, 231, 13),yellow);
}
table{
    background: linear-gradient(45deg,pink,orange,blue,skyblue,red,green);
    font-weight: bolder;
   
}
.bgg-success{
    background: linear-gradient(45deg,black,limegreen,rgb(29, 192, 154),blue,black);

}
#data{
    margin-left: 200px;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
button{
    margin-left: 350px;
    margin-top: 50px;
    
}
h1{
    text-align: center;
    
}